# Python
__pycache__/
*.py[cod]
*.class
venv/
pytrix_venv/
.env*

# Pytrix Específico
all.py
pytrix_tmp/
unnamed_1.txt
teste*.py
kaakak.py
blald.html
logs/

# C/C++
*.o
*.out
Makefile (se for gerado automaticamente)
pytrix_leads.json
